# AWS SAM
.aws-sam/
samconfig.toml
template-generated.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store
Thumbs.db

# Build Artifacts
*.pdf
*.log
*.aux
*.out
*.synctex.gz
