name: Build Resume into pdf from .tex file

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up LaTeX environment
        uses: xu-cheng/latex-action@v2
        with:
          root_file: resume.tex
      
      - name: Push PDF to pdf-output branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update resume PDF
          branch: pdf-output
          file_pattern: resume.pdf
          create_branch: true
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>